<!DOCTYPE html>
<html lang="en">
<head>
    <title>Study Hours Estimator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="bg">
    <!-- Illustration by <a href="https://icons8.com/illustrations/author/ARh4OKrFtdfC">Pixeltrue Ouch!</a> -->
    <div class="title-bar">
      <img class="illustration" src="{{ url_for('static', filename='images/study.svg') }}" alt="Study" />
      <div class="title-text">Welcome to Study Hours Estimator</div>
    </div>
    <!-- result -->
    {% if result != None %}
    <div class="result">
      <p class="gradient-text">
        Estimated Study Hours: <span>{{ form.name.data }}</span>, you need to study for <span>{{ result }}</span> hours.
      </p>
    </div>
    {% endif %}
    <form id="student-form" action="/student_form" method="post" autocomplete=off>
      {{ form.csrf_token }}
      <div class="main">
        <div class="label">
          {{ form.exam_score.label }}
        </div>
        <div class="target-box">
          {{ form.exam_score(autocomplete="off") }}
        </div>
      </div>

      <div class="form-grid">
        <!-- basic information -->
        <div class="form-fields">
          <p class="category">Basic Information</p>
          {% for field in form %}
            {% if field.name in basic_information %}
            <div class="label-form">
              <div class="label">
                {{ field.label }}
              </div>
              {% if field.name in categorical_variables %}
              <div class="dropdown">
                {{ field }}
              </div>
              {% else %}
              <div class="form-box">
                {{ field(autocomplete="off") }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-fields">
          <p class="category">Personal Information</p>
          {% for field in form %}
            {% if field.name in personal_info %}
            <div class="label-form">
              <div class="label">
                {{ field.label }}
              </div>
              {% if field.name in categorical_variables %}
              <div class="dropdown">
                {{ field }}
              </div>
              {% else %}
              <div class="form-box">
                {{ field(autocomplete="off") }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-fields">
          <p class="category">Student Performance</p>
          {% for field in form %}
            {% if field.name in school_related %}
            <div class="label-form">
              <div class="label">
                {{ field.label }}
              </div>
              {% if field.name in categorical_variables %}
              <div class="dropdown">
                {{ field }}
              </div>
              {% else %}
              <div class="form-box">
                {{ field(autocomplete="off") }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-fields">
          <p class="category">Environment</p>
          {% for field in form %}
            {% if field.name in environment %}
            <div class="label-form">
              <div class="label">
                {{ field.label }}
              </div>
              {% if field.name in categorical_variables %}
              <div class="dropdown">
                {{ field }}
              </div>
              {% else %}
              <div class="form-box">
                {{ field(autocomplete="off") }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="form-fields">
          <p class="category">Family Situation</p>
          {% for field in form %}
            {% if field.name in family_situation %}
            <div class="label-form">
              <div class="label">
                {{ field.label }}
              </div>
              {% if field.name in categorical_variables %}
              <div class="dropdown">
                {{ field }}
              </div>
              {% else %}
              <div class="form-box">
                {{ field(autocomplete="off") }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="btn">
        {{ form.submit() }}
      </div>
    </form>
  </div>
</body>
</html>